## Classifier for Invasive Plant Species in Washington State

* Student names: Natasha Kacoroski, Jacob Crabb
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Miles Erickson, Greg Damico

In [5]:
import pandas as pd

In [29]:
invasives_data = pd.read_csv("invasive_data.csv", skiprows=10, header=None)
invasives_data.tail()

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
142,ULEU,NaN,Ulex europaeus,common gorse,Dicot,PR,SH,"CA (BW), HI (NW), OR (BDW, Q), WA (CBW, NWSPQ)","CA (gorse), HI (gorse), OR (gorse), WA (gorse,...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\
143,UTIN,NaN,Utricularia inflata,swollen bladderwort,Dicot,PR,FB,WA (WAWQ),WA (swollen bladderwort),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\
144,XASP2,NaN,Xanthium spinosum,spiny cocklebur,Dicot,AN,FB,"OR (BDW, Q), WA (CCW)","OR (spiny cocklebur), WA (spiny cocklebur)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\
145,ZYFA,NaN,Zygophyllum fabago,Syrian beancaper,Dicot,PR,"SS, FB","CA (AW), ID (NW), OR (ADW, Q), WA (CAW, NWSPQ)","CA (Syrian beancaper), ID (Syrian beancaper), ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\
146,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
invasives_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 92 columns):
0     147 non-null object
1     6 non-null object
2     146 non-null object
3     140 non-null object
4     140 non-null object
5     135 non-null object
6     135 non-null object
7     141 non-null object
8     141 non-null object
9     17 non-null object
10    11 non-null object
11    17 non-null object
12    14 non-null object
13    17 non-null object
14    17 non-null object
15    17 non-null object
16    16 non-null object
17    17 non-null object
18    17 non-null object
19    16 non-null object
20    16 non-null object
21    17 non-null object
22    15 non-null object
23    17 non-null object
24    17 non-null object
25    17 non-null object
26    2 non-null float64
27    15 non-null float64
28    17 non-null object
29    17 non-null object
30    12 non-null object
31    17 non-null object
32    17 non-null object
33    17 non-null object
34    17 non-null object
35    17 non-null object
36    17 non-null object
37    17 non-null object
38    17 non-null object
39    17 non-null object
40    17 non-null object
41    17 non-null object
42    17 non-null object
43    17 non-null object
44    15 non-null object
45    16 non-null float64
46    17 non-null object
47    17 non-null object
48    17 non-null float64
49    17 non-null float64
50    13 non-null float64
51    13 non-null float64
52    16 non-null float64
53    16 non-null float64
54    16 non-null float64
55    17 non-null object
56    17 non-null object
57    17 non-null float64
58    17 non-null object
59    17 non-null object
60    16 non-null object
61    16 non-null object
62    16 non-null object
63    17 non-null object
64    17 non-null object
65    17 non-null object
66    17 non-null object
67    17 non-null object
68    17 non-null object
69    17 non-null object
70    17 non-null object
71    17 non-null object
72    17 non-null object
73    13 non-null float64
74    17 non-null object
75    16 non-null object
76    17 non-null object
77    17 non-null object
78    17 non-null object
79    17 non-null object
80    17 non-null object
81    0 non-null float64
82    17 non-null object
83    17 non-null object
84    17 non-null object
85    13 non-null object
86    12 non-null object
87    17 non-null object
88    17 non-null object
89    11 non-null object
90    17 non-null object
91    146 non-null object
dtypes: float64(13), object(79)
memory usage: 105.7+ KB